#Logo {
    font-size: larger;
    color: white;
}

#Active {
    color: white;
}

.Navbar {
    padding: 2em;
}

.Navbar a {
    margin: 1em;
    color: gray;
    text-decoration: none;
}

.Navbar a:hover {
    color: white;
}

@media screen and (max-width:700px) {
    #Active {
        color: black;
    }
}